# Models (Large Files)
models/
models__/
llama.cpp/
*.gguf
*.bin
*.zip
*.tar.gz
*.safetensors
*.json
*.jinja
*.gitattributes

# Logs and Temp files
*.log
__pycache__/
*.pyc
.DS_Store

# Docker
.docker
.dockerignore
